<div class="question_box" >
  <div class="user-options">
    <% if has_voted?(post) %>
      <form class="change-vote vote-form" action="/questions/<%= post.id %>/votes/<%= user_vote(post).id %>" method="post">
        <input type="hidden" name="_method" value="put">
    <% else %>
      <form class="new-vote vote-form" action="/questions/<%= post.id %>/votes" method="post">
    <% end %>
      <%= erb :'questions/_vote', locals: {post: post}  %>
    </form>
    <%= erb :'questions/_vote_count', locals: {post: post} %>
  </div>
  <div class="question"><div class="question-date"><%= long_form_date(post.created_at) %>:&nbsp;</div><a href="/questions/<%= post.id %>"><%= post.title %></a></div>
  <%if !logged_in? %>
    <div class="login-box">
      <%= erb :'users/_login' %>
    </div>
  <% end %>
</div>

