<div class="question_box" >
  <div class="user-options">
    <form class="vote-form" action="/questions/<%= post.id %>/votes" method="get">
      <%= erb :'questions/_vote', locals: {post: post}  %>
    </form>
    <%= erb :'questions/_vote_count', locals: {post: post} %><br>
  </div>
  <p class="question"><a href="/questions/<%= post.id %>"><%= post.title %></a></p>
  <%if !logged_in? %>
    <div class="login-box">
      <%= erb :'users/_login' %>
    </div>
  <% end %>
</div>
