<div class="question-header">
  <div class="user-options">
    <form class="vote-form" action="/questions/<%= @question.id %>/votes" method="get">
      <%= erb :'questions/_vote', locals: {post: @question}  %>
    </form>
    <%= erb :'questions/_vote_count', locals: {post: @question} %><br>
  </div>
  <h1><%= @question.title %></h1>
  <h2>asked by <span class="author"><%= @question.user.username %></span></h2>
</div>
<p><%= @question.content %></p>
<h1>ALL THE ANSWERS</h1>
<div class="answer-list">
<% if @question.answers %>
    <%= erb :'questions/_answers', locals: {answers: @question.answers} %>
<% else %>
  <p>There are no answers.</p>
<% end %>
</div>
<% if logged_in? %>
<h1>Post an Answer!</h1>
  <form id="post-answer" method="post" action="/questions/<%=@question.id%>/answer">

    <textarea rows="10" cols="50" name="answer[answer]" placeholder="Answer the question"></textarea><br>
    <input type="submit" value="Answer Question">
  </form>
<% else %>
  <p><b>Please <a href="/users/login">log in</a> to post an answer.</b></p>
<% end %>
