<div class="question-header"><h1><%= @question.title %></h1>
<h2>asked by <span class="author"><%= @question.user.username %></span></h2>
</div>
<p><%= @question.content %></p>
<h1>ALL THE ANSWERS</h1>

<% if @question.answers %>
  <div class="answer-list">
    <%= erb :'questions/_answers', locals: {answers: @question.answers} %>
  </div>
  <% else %>

<% end %>
</div>
<% if logged_in? %>
  <form id="post-answer" method="post" action="/questions/<%=@question.id%>/answer">
    <label for="answer">Answer</label><br>
    <textarea rows="10" cols="50" name="answer[answer]" placeholder="Answer the question"></textarea><br>
    <input type="submit" value="Answer Question">
  </form>
<% else %>
  <p><b>Please <a href="/users/login">log in</a> to post an answer.</b></p>
<% end %>
